.cardopt li {
    display: inline-block;
    vertical-align: middle;
    position: relative;

}
.projects #project-filters li{
    cursor: pointer;
    display: inline-block;
    padding: 0.5rem 1rem 0.8rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1;
    text-transform: uppercase;
    color: #683b2b;
    margin-top: 5px;
    transition: all 0.3s ease-in-out;
    border-radius: 3px;
  }
  .projects #project-filters li:hover, .projects #project-filters li.filter-active {
    color: #151515;
    background: #B08401;
  }
  .projects #project-filters li:last-child {
    margin-right: 0;
  }