$primaryColor: #DED1BD;
$primaryDarkColor: #683b2b;
$secondaryColor: #B08401;
$primaryWhite: #FAF6F2;
$secondaryDarkColor: #D49E8D;
$baseFont: 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
