body {
  background-color: #DED1BD;
  font-family: "Franklin Gothic Medium", "Arial Narrow", "Arial", "sans-serif";
  width: 100%;
}
body::before {
  display: block;
}

.welcome {
  padding: 200px;
}

.cardopt li {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.projects #project-filters li {
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 1rem 0.8rem 1rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  color: #683b2b;
  margin-top: 5px;
  transition: all 0.3s ease-in-out;
  border-radius: 3px;
}

.projects #project-filters li:hover, .projects #project-filters li.filter-active {
  color: #151515;
  background: #B08401;
}

.projects #project-filters li:last-child {
  margin-right: 0;
}

.breadcrumbs {
  padding: 15px 0;
  background: whitesmoke;
  min-height: 40px;
  margin-top: 74px;
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 400;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #2f2f2f;
  content: "/";
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 68px;
  }
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}
.blog-posts {
  margin-right: 2rem;
}

.blog-post {
  border-bottom: 4px solid #B08401;
}

.blog-post img {
  width: 100%;
  overflow-y: hidden;
}

.blog-post .blog-content h2 {
  font-size: 2rem;
  letter-spacing: 0.5px;
  text-transform: capitalize;
  font-weight: 300;
}

.blog-post .blog-content p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1rem;
}

.blog-post .blog-content ul {
  list-style: none;
}

.blog .search input {
  background-color: #B08401;
  width: 100%;
  height: 3rem;
  outline: none;
  border: none;
}

.blog .sidebar-heading {
  font-size: 1.5rem;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  border-bottom: 1px solid #B08401;
}

.side-bar ul {
  padding: 0;
  list-style: none;
}

.side-bar ul li {
  margin-bottom: 1rem;
}

.side-bar ul a {
  text-decoration: none;
}

.side-bar ul a:hover {
  background-color: #683b2b;
}

.recent-posts ul li img {
  display: inline-block;
  max-width: 100%;
  margin-right: 1rem;
}

.recent-posts ul li .text {
  display: inline-block;
}

.recent-posts ul li h6 {
  margin-top: 5px;
  padding-top: 0;
  margin-top: 0;
  display: block;
  font-size: 1rem;
  letter-spacing: 0.5px;
  color: white;
}

.recent-posts ul li span {
  display: inline-block;
  font-size: 14px;
  font-weight: 200;
  color: #D49E8D;
}

.categories a {
  display: inline-block;
  font-size: 14px;
  font-weight: 200;
  color: #D49E8D;
}

.more {
  background-color: #D49E8D;
}

.more:hover {
  color: #B08401;
}

.coreImg {
  width: 100px;
}

img:hover {
  box-shadow: 0 0 2px 1px #683b2b;
}

a {
  color: #000000;
  text-decoration: none;
}

.footercol {
  padding: 3rem 0;
  text-align: center;
}

.socialcol li {
  display: inline-block;
}

.socialcol li + li {
  padding-left: 2rem;
}

.socialcol i {
  max-width: 2rem;
  max-height: 2rem;
  -o-object-fit: contain;
  object-fit: contain;
}

.copyrightCol {
  padding: 2rem 0 0;
  font-size: 1rem;
}

.copyright p {
  margin: 0;
}/*# sourceMappingURL=styles.css.map */